html{
    touch-action: pan-y;
    background: #fff;
}
body{margin:0;padding:0;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
.page-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.main-screen{
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.imgBox{
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.getMore{
  width: 100%;
  position: absolute;
  bottom: 0;
  line-height: 10vh;
  text-align: center;
  background: #000;
  opacity: 0.6;
  color: #fff;
}
.photo-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.hover-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.hideenInput {
  visibility: hidden;
  position: absolute
}
.options{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addFile {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border: 1px sollid #999;
  text-align: center;
  background: #fff;
  color: #000;
  font-size: 180%;
  border-radius: 4rem;
}
.textInput{
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    z-index: 100;
    font-size: 100%;
    line-height: 1.4rem;
    height: 2.8rem;
    width: 80%;
    left: 10%;
    top: 40vh;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid #666;
    text-align: center;
}
.textInput:focus{
  outline: 0; boxShadow: 0; border: 0;
}
.my-shs{
  left: -3rem;
  bottom: -4rem;
}
.my-logo{
  right: 0;
  bottom: 0;
}
.my-pic-top{
  left: -0.5rem;
  top: -0.5rem;
}
.my-pic-bottom{
  right: -0.5rem;
  bottom: -0.5rem;
  transform: rotate(180deg);
}